/** =============================================================================================================================
 * Fichier				: topContent.css
 * Objectif(s)			: Positionnement et mise en forme du bloc de haut de page : titre, fil ariane, version, ...
 * ==============================================================================================================================
 */

div#topContent {
	position:				relative;					/* afin que les éléments enfants puissent être positionnés par rapport à ce bloc */
	top:					0;
	left:					0;
	height:					0;							/* modifié dynamiquement en javascript */
	width:					100%;
	padding:				0;
	border:					1px solid var(--selectedColor04);
	margin:					0;							/* margin-top modifié dynamiquement en javascript */
	background-color:		var(--selectedColor08);
	color:					var(--selectedColor04);
}
div#topContent > span#resultat {
	position:				absolute;
	bottom:					5px;
	left:					20px;
	visibility:				visible;
	color:					var(--baseColor69)
}

div#topContent > span#criteresbiens {
	position:				absolute;
	top:					2px;
	left:					5%;
	width:					95%;
}

div#topContent > span#breadCrumbTrail {
	position:				absolute;
	bottom:					5px;
	left:					20px;
	visibility:				visible;					/* modifié dynamiquement en javascript */
}

div#topContent > span#breadCrumbTrail > img {
	width:					9px;
	height:					auto;
}

div#topContent > span#breadCrumbTrail > a {
	transition:				color 0.3s ease-out;
}

div#topContent > span#breadCrumbTrail > a:hover {
	color: 					var(--selectedColor01);
}

div#topContent > span#version {
	position:				absolute;
	bottom:					5px;
	right:					20px;
	visibility:				visible;					/* modifié dynamiquement en javascript */
}